    
.word {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: auto;
  user-select: none;
  font-size: 3em;
  letter-spacing: .3rem;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  font-size: 2em;
  letter-spacing: 0.2em;
}